body {
    font-family: Helvetica;
    background-color: #ABC9B4;
    text-align: center;
    }

h1 {
    border: solid;
    border-color: white;
    font-size: 50px;
    color: ghostwhite;
    width:300px;
    margin: auto;
    padding: 5px;
    text-shadow: 2px 2px #ff0000;
    border-radius: 3px;
}

h2 {
    font-size: 30px;
    color: ghostwhite;
    text-shadow: 2px 2px #ff0000;
}

h3 {
    font-size: 20px;
    color: white;
}

p {
    font-size: 18px;
    color: darkslategrey;
}

pre {
    font-size: 18px;
    color: white;
    align-content: center;
}

font {
	text-transform: uppercase;
	color: red;
	font-family: Courier;
	font-size: 20px;
}

form {
	font-family: Courier;
	text-align:center;
	font-size: 30px;	
}

#menu ul {
    padding: 5px;
    width: 240px;
	margin-left: auto;
	margin-right: auto;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	text-align: center;
	border: 5px solid white;
}
#menu ul li {
    background-color: darkred;
}
#menu ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-out;
  display: block;
  width: 240px;
}

#menu ul li a:hover {
	color: black;
  font-size: 30px;
  background: white;
}

//----

.wrap{
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 600;
	perspective: 600;
}

.tarjeta{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 60px;
	background: orange;
	text-transform: uppercase;
	border-radius: 50%;
	
	
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	transform: rotateY(180deg);
	text-align: center;
	color: Black;
	font-family: Courier;
	background: White;
	font-size: 10px;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.tarjeta-wrap:hover .tarjeta{
	transform: rotateY(180deg);
}

.card1{
	background-image: url(imgs/estrella.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
}